/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1, h3 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

input[type="text"], input[type="submit"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Chatroom styles */
#messages {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 800px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

#messages em {
    color: #999;
    align-self: flex-end; 
}

#messages ul {
    list-style-type: none;
    padding: 0;
}

#messages li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#messages li:last-child {
    border-bottom: none;
}

form#message-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
}

form#message-form input[type="text"] {
    flex: 1;
    margin-right: 10px;
    white-space: normal;
}